Django==5.2
gunicorn==21.2.0
asgiref==3.8.1 # Dependencia de Django
mysqlclient==2.2.0
sqlparse==0.4.2 # Dependencia de Django
paramiko==3.3.1
bcrypt==4.1.1 # Dependencia de Paramiko
cffi==1.16.0 # Dependencia de bcrypt, cryptography, etc.
cryptography==38.0.4 # Dependencia de Paramiko
PyNaCl==1.5.0 # Dependencia de Paramiko/bcrypt
pycparser==2.21 # Dependencia de cffi
django-simple-captcha==0.6.2 # Si usas captcha
requests==2.28.1
certifi==2022.9.24
chardet==5.1.0 # Opcional, requests puede traerlo
charset-normalizer==2.1.1 # Opcional, requests puede traerlo
idna==3.3
urllib3==1.26.12
pytz==2022.7.1 # Para zonas horarias
six==1.16.0 # Compatibilidad, muchas librerías lo usan
packaging==23.2 # Para manejo de versiones de paquetes