{% extends 'base2.html' %}
{% load static %}
{% block titulo %}Cronlogs{% endblock %}

{% block scripts %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="{% static 'js/cronlog.js' %}"></script>
{% endblock %}

{% block encabezado %}
    Cronjobs realizados
{% endblock %}

{% block contenido %}
    <div class="container">
        <h2>Cron Log</h2>
        {% if cron_log_content.error %}
            <p>{{ cron_log_content.error }}</p>
        {% else %}
             <pre>
                {% for line in cron_log_content.log_lines %}
                    {{ line }}
                {% endfor %}
            </pre>
        {% endif %}
    </div>
{% endblock %}
