
{% extends "base2.html" %}
{% block titulo %}Servidores dados de alta{% endblock %}

{% block encabezado %}
    Servidores dados de alta
{% endblock %}

{% block contenido %}
<div class="container">
    <h2 class="mt-5">Bienvenido, visualiza los logs de los servidores</h2>

    {% if logs %}
        <ul class="list-group mt-4">
            {% for log in logs %}
                <li class="list-group-item">
                    <strong>Nombre del servidor:</strong> {{ log.nombre }}
                    <br>
                    <strong>Nombre remoto:</strong> {{ log.usuario_remoto }}
                    <br>
                    <strong>Timestamp:</strong> {{ log.timestamp|date:"F j, Y H:i:s" }}
                    <br>
                    <strong>Avalado por:</strong> {{ log.avala }}
                    <br>
                    <strong>Detalles:</strong> {{ log.detalles }}
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>No hay logs disponibles.</p>
    {% endif %}
</div>
{% endblock %}
